[Unit]
Description=Ocean Navigator Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/ocean_daemon
WorkingDirectory=/usr/local/bin
Restart=always
RestartSec=5
StandardOutput=file:/var/log/ocean_daemon.log
StandardError=file:/var/log/ocean_daemon_error.log

[Install]
WantedBy=multi-user.target